# Line endings
* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.cfg text eol=lf
*.smk text eol=lf
Snakefile text eol=lf
Dockerfile text eol=lf

# Git LFS
*.gbff filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.pickle.gz filter=lfs diff=lfs merge=lfs -text
*.fna filter=lfs diff=lfs merge=lfs -text
*.faa filter=lfs diff=lfs merge=lfs -text
*.msh filter=lfs diff=lfs merge=lfs -text
